
<button type="button" class="button-ok" mat-raised-button *ngIf="(status==1)||(status==5)" (click)="sendClick(
    {
        travelId:travelId,
        isReasigned:false,
        newStatusTravel:status+1,
        cadeteId:cadeteId,
        userOperation:2,
        Observations:''
    }
)"  >Quiero este viaje</button>

<button type="button" class="button-get" mat-raised-button *ngIf="(status==2)||(status==6)" (click)="sendClick({
    travelId:travelId,
    isReasigned:false,
    newStatusTravel:status+1,
    cadeteId:cadeteId,
    userOperation:2,
    Observations:''
})"  >Lo tengo!</button>

<button class="button-reasigned" mat-raised-button *ngIf="(status==2)||(status==6)" (click)="sendClick({
    travelId:travelId,
    isReasigned:true,
    newStatusTravel:status-1,
    cadeteId:cadeteId,
    userOperation:2,
    Observations:''
})"  >Renunciar</button>

<button class="button-finally" mat-raised-button *ngIf="(status==3)||(status==7)" (click)="sendClick({
    travelId:travelId,
    isReasigned:false,
    newStatusTravel:status+1,
    cadeteId:cadeteId,
    userOperation:2,
    Observations:''
})" >Entregado</button>
