
button{
    margin: auto;
    border: none;
    padding: 1rem;
}
.button-ok{
    background-color: #00e676;
    color: white;
}
.button-get{
    background-color: #ffea00;
}
.button-reasigned{
    background-color: #ff3d00;
}