
button{
    margin: auto;
    border: none;
    padding: 1rem;
    cursor: pointer;
}
.button-ok{
    background-color: #5db625;
    font-weight: bold;
    color: white;
}
.button-get{
    background-color: #ffea00;
    font-weight: bold;
    
}
.button-reasigned{
    background-color: #ff3d00;
    font-weight: bold;
    color: white;
}