div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
img{
    width: 20vw;
    height: 20vw;
}
h1{
    color: white;
    margin-bottom: 5rem;
    font-size: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 80%;
    max-width: 20rem;
    background-color: #757de8;
    border-radius: 0.3rem;
}
.matform{
    margin:0.5rem;
    width: 90%;
    padding: 1rem;
    background-color: white;
    border-radius: 0.2rem;
}
.button-password{
    border:none;
    background:none;
}
.button-submit{
    width: 7rem;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #002984;
    color: white;
}
img{
    width: 15rem;
    height: 15rem;
}
@media screen and (min-width:768px){
    img{
        width: 30rem;
        height: 30rem;
    }
    form{
        margin-bottom: 5rem;
    }
    
}