<div class="container">
<mat-card class="card" *ngFor="let card of cardsEnvio()">
  <a mat-button (click)="openDialog(card)">
    <mat-card-title-group>
      
      <mat-card-title>
        </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      
    </mat-card-title-group>
    <mat-card-content>
     <span class="items">Direccion: </span><span *ngIf="card.lastStatusTravel==1||card.lastStatusTravel==2||card.lastStatusTravel==3||card.lastStatusTravel==4"> {{card.travelEquipmentDTOs[card.travelEquipmentDTOs.length-1].equipment.cliente.address}}</span><span *ngIf="card.lastStatusTravel==5||card.lastStatusTravel==6||card.lastStatusTravel==7||card.lastStatusTravel==8">En el Local</span>
     <mat-divider inset></mat-divider>
     <span class="items">Hora: </span>{{card.travelEquipmentDTOs[card.travelEquipmentDTOs.length-1].operationDate.slice(11,-11)}}
     <mat-divider inset></mat-divider>
     <span class="items">Equipo: </span>{{card.travelEquipmentDTOs[card.travelEquipmentDTOs.length-1].equipment.mark}}, {{card.travelEquipmentDTOs[card.travelEquipmentDTOs.length-1].equipment.model}}
     <mat-divider inset></mat-divider>
     <span class="items">Estado: </span><span *ngIf="card.lastStatusTravel==1||card.lastStatusTravel==5">Pendiente a Retirar</span><span *ngIf="card.lastStatusTravel==2||card.lastStatusTravel==6">Asignado</span><span *ngIf="card.lastStatusTravel==3||card.lastStatusTravel==7">En curso</span><span *ngIf="card.lastStatusTravel==4||card.lastStatusTravel==8">Finalizado</span>
     
    </mat-card-content>
  </a>
    <mat-card-actions>

      <app-buttons-card *ngIf="enableButtons" [status]="card.lastStatusTravel" [travelId]="card.id" (onButtonEvent)="requestTrip($event)"></app-buttons-card>
  
    </mat-card-actions>
  
  </mat-card>
</div>

