<span>Viajes disponibles {{cardsEnvio().length}}</span>
<mat-card class="example-card" *ngFor="let card of cardsEnvio()">
    <mat-card-title-group>
      <span *ngIf="card.lastStatusTravel==5">Tengo status travel 5</span>
      <mat-card-title>Marca {{card.travelEquipmentDTOs[card.travelEquipmentDTOs.length-1].equipment.mark}}
        </mat-card-title>
      <mat-card-subtitle>Modelo {{card.travelEquipmentDTOs[card.travelEquipmentDTOs.length-1].equipment.model}}</mat-card-subtitle>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
     Contenido de la carta
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="requestTrip(card.id)">Quiero este viaje</button>
      
    </mat-card-actions>
  </mat-card>