<div class="container">
<h2> Viajes</h2>
<mat-form-field class="form-field" appearance="fill">
  <mat-label>Viajes</mat-label>
  <mat-select class="select" [(value)]="selected" >
    <mat-option [value]=option.value *ngFor="let option of options" >
      {{option.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<app-trip class="cards" [enableButtons]="true" *ngIf="selected" [cards]="cards" (onChangeStatus)=" requestTripValidate($event)" ></app-trip>
<app-trip class="cards" [enableButtons]="true" *ngIf="!selected" [cards]="cardsCurse" (onChangeStatus)=" requestTripValidate($event)"></app-trip>
</div>