*{
    font-size: 1rem;
}
.items{
    font-weight: bolder;
    font-size: 1rem;
}
.card{
    width: 95%;
    max-width: 70rem;
    margin-top: 1rem;
    margin-bottom: 1rem ;
    background-color: white;
}