*{
    font-size: 1rem;
}
.content{
    display: flex;
    align-items: center;
}
.items{
    font-weight: bolder;
    font-size: 1rem;
}
.card{
    width: 95%;
    max-width: 70rem;
    margin-top: 1rem;
    margin-bottom: 1rem ;
    background-color: white;
}
div button{
    border:none;
    background-color: white;
}


.button-map:hover{
    background-color: #71d882;
    
    transition: 0.5s;

}